<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="static/todo.js"></script>
</head>
<body>
    <header>
        <h1>ToDo List</h1>
      </header>
      <main>
        <form method="post" action="add"> <!--1-->
          <input type="text" class="new-todo" name="todo" placeholder="Add a new todo" />
          <button type="submit">Add</button>
        </form>
        <ul class="todo-list">
            {{ range .ToDoList }}
            <li class="todo-item">
                <div class="todo-item-container">
                    <input type="checkbox" />
                    <input type="text" class="todo" id="{{.Id}}" value="{{. Todo}}" readonly />
                    <div class="todo-item-control hidden">
                        <button class="btn-save">save</button>
                        <button class="btn-cancel">cancel</button>
                    </div>
                </div>
            </li>
            {{ end }}
        </ul>
      </main>
</body>
</html>
